@{
    Layout = null;
}
@model SitnEatV2.Models.ForgotPassword

<!DOCTYPE html>
<html>
<head>
    <title>Zaboravljena lozinka</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://img.freepik.com/free-photo/wooden-board-empty-table-top-blurred-background_1253-1584.jpg?w=826&t=st=1685883520~exp=1685884120~hmac=963ad4cbed1027ff20d8e4639c48fcf6529611fbb59e6d24dd6436a59e66a548');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #b99a61;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            width: 100%;
        }

        h1 {
            text-align: center;
            color: #333333;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333333;
        }

        input[type="text"],
        input[type="password"] {
            width: 95%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #cccccc;
            border-radius: 4px;
        }

        .submit-button {
            width: 100%;
            padding: 10px;
            background-color: #333333;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .submit-button:hover {
                background-color: #555555;
            }

        .error-message {
            color: red;
            margin-top: 5px;
        }

        .register-link {
            text-align: center;
            margin-top: 10px;
        }

            .register-link a {
                color: #333333;
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Promijenite lozinku</h1>
        <form method="post" asp-action="ForgotPassword" asp-controller="Account">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li class="error-message">@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }
            
            <div>
                <label asp-for="Email">Email adresa:</label>
                <input type="text" asp-for="Email" />
            </div>
            <div>
                <input type="submit" value="Podnesi" class="submit-button" />
            </div>

   
        </form>
    </div>
</body>
</html>

