@model SitnEatV2.Models.Register
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Registracija</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://img.freepik.com/free-photo/wooden-board-empty-table-top-blurred-background_1253-1584.jpg?w=826&t=st=1685883520~exp=1685884120~hmac=963ad4cbed1027ff20d8e4639c48fcf6529611fbb59e6d24dd6436a59e66a548');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #b99a61;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            width: 100%;
        }

        h1 {
            text-align: center;
            color: black;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: black;
        }

        .register-link {
            text-align: center;
            margin-top: 10px;
        }

            .register-link a {
                color: #333333;
                text-decoration: underline;
            }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"] {
            width: 95%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #555555;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .error-message {
            color: red;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Registracija</h1>
        <form method="post" asp-action="Register" asp-controller="Account">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li class="error-message">@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }
            <div>
                <label asp-for="FirstName">Ime:</label>
                <input type="text" asp-for="FirstName" />
            </div>
            <div>
                <label asp-for="LastName">Prezime:</label>
                <input type="text" asp-for="LastName" />
            </div>
            <div>
                <label asp-for="Email">Email:</label>
                <input type="email" asp-for="Email" />
            </div>
            <div>
                <label asp-for="PhoneNumber">Broj telefona:</label>
                <input type="tel" asp-for="PhoneNumber" />
            </div>
            <div>
                <label asp-for="Password">Password:</label>
                <input type="password" asp-for="Password" />
            </div>
            <div>
                <label asp-for="ConfirmPassword">Potvrdi password:</label>
                <input type="password" asp-for="ConfirmPassword" />
            </div>
            <div>
                <input type="submit" value="Registriraj se" />
            </div>
            <div class="register-link">
                <a href="/Account/Login">Imate account? Prijavite se ovdje.</a>
            </div>
        </form>
    </div>
</body>
</html>
